p, body{
    margin:0;
    font-family: "Montserrat", sans-serif;
    font-size:24px;
  }

 /*REMEMBER THIS PLEASE FREY. PLEEEASE. C'MON.*/
       
 /*The header also uses flexbox. Unlike using float, this is a lot easier to layout your items.
  With just "display: flex" and "justify-content: space-between," you can add as many things
  as you want into the header container. The browser will try to space out these items evenly
  and side by side for you. 
  
  Workflow:
    1. set up your flex box code in the default section
    2. Modify the code in the sections for larger viewports */
  
  /*https://www.freepik.com/free-vector/clips-pins-various-note-paper-stripe-ragged-stick-realistic-object-set_2868912.htm
  https://www.freepik.com/free-vector/abstract-blue-bordered-with-torn-white-paper-edges-from-top-bottom-realistic-set_6846645.htm
  https://www.freepik.com/free-vector/washi-tape-clipart-colorful-stationery-collage-element-vector-set_20775345.htm*/
  
  h1, h2, h3{
    font-family:'Saira Stencil One';
    font-size:64px;
    text-align:left;
    max-width: 15ch;
    margin:16px;
  }
  h2{
    font-size:32px;
    max-width: 45ch;
    text-align:left;
  }

  span{
    font-weight: 400;
    font-size:24px;
    max-width: 100ch;
  }
  img{
    max-width:100%;
  }
 
    /*HEADER BUTTONS*/
  .logo{
    align-items:center;
    width:150px;
    object-fit:cover;
  }
  
  .hbutton{
    text-align:center;
    width:150px;
    padding:16px;
    color:black;
    border-radius: 16px;
    text-decoration:none;
    text-align:center;
    }

  .hbutton:hover{
    background-color: transparent;
    text-decoration: none;
    color: #EC058E;
    }
    
   /*hcontact is modified from Cool Beans 60fps*/
  .hcontact{
    text-align:center;
    width:150px;
    padding:16px;
    border-radius: 16px;
    color:black;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    }

  .hcontact:after{
    width:100%;
    height:100%;
    border-radius: 16px;
    background-color: #0EB697;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(15deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    z-index: -1;
    }

  .hcontact:hover:after {
    transform: translate(0, 0);
    }

  .hcontact:hover {
    color: White;
    transform:scale(1.00);
    will-change:transform;
    } 

  /*CLIENTS*/
  
  /*ILLUSTRATION*/

  .parallax1, .parallax2 {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position:relative;
  }
  
  .parallax1{
    background-image: url("images/sitehero.webp");
  }

  .parallax2{
    background-image: url("images/galhero.webp");
  }
  
  @media only screen and (max-device-width: 1366px) {
    .parallax1, .parallax2 {
      background-attachment: scroll;
    }

  }

  /* https://github.com/lokesh/lightbox2 Praise be, lightbox2 opensource plugin*/
  
  /*ABOUT*/
  
  /*CONTACT*/
  /* https://www.phptutorial.net/php-tutorial/php-form/ 
  Maybe one day I'll set this up properly with folders and a server ^^; */
  .form-nest{
    display:flex;
    justify-content:center;
    padding:12px;
  }

  .form-box{
    display:flex;
    flex-direction:column;
    padding-bottom: 4px;
  }

  input[type=text], input[type=email], select, textarea {
    font-family:'Montserrat';
    padding: 12px;
    border: 1px solid #000;
    border-radius: 16px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    width:600px;
  }
  
  button[type=submit] {
    display:flex;
    width:fit-content;
    color: #000;
    padding: 16px;
    border: 2px solid #0EB697;
    background-color:#ffff;
    border-radius: 16px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #0EB697;
    color:#ffff;
  }

  /*
  Included in php file. However I don't have a local server for any hosting. So, let's hold off on this!
  
  <?php if ($_SERVER['REQUEST_METHOD'] === 'GET') : ?>
            <form action="<?php htmlspecialchars($_SERVER['PHP_SELF']) ?>" method="post">

  <?php else : ?>

            <?php 
            if (isset($_POST['name'], $_POST['email')) {
              $name = htmlspecialchars($_POST['name']);
              $email = htmlspecialchars($_POST['email']);
                $option = htmlspecialchars($_POST['email']);
                $email_title = htmlspecialchars($_POST['email']);
                $message = htmlspecialchars($_POST['email']);

              echo "Thanks $name for your subscription.<br>";
              echo "Please confirm it in your inbox of the email $email.";
            } else {
              echo 'Please fill out all fields.';
            }
            <?php endif ?> */
            
  /* Containers */     
  iframe{
    width:1480px;
    aspect-ratio: 16/9;
    border:none;
    box-shadow:none;
  }

  .header, .container, .footer{
    display: flex;
    box-sizing: border-box;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:24px;
    padding:24px;
    max-width:100%;
    margin-inline:64px, 0px, 64px, 0px;
  }

  .footer{
    background-color: #CAFCEA;
    font-size:16px;
    gap:24px;
  }

  .fbutton{
    width:100px;
    padding:12px;
    color:white;
    background-color:#0EB697;
    border-radius: 16px;
    text-decoration:none;
    text-align:center;
    font-size:12px;
    flex-wrap:wrap;
    }

  .header {
    justify-content:space-evenly;
    background-color:white;
    font-variant:small-caps;
    font-weight: 800;
    font-size:24px;
  }

   /* MEDIUM viewport (380px and above)
    You can see that we are just making modifications to the .container and .content-block.
    Because CSS styles cascades. Typically, the styles appears later in the file overwrites the styles above.  
    */

  @media only screen and (min-width: 380px) {
 
  }
  .header{
    padding:12px;
  }
  .container{
    flex-direction:row;
    flex-wrap: wrap;
  }
  /* LARGE viewport (730px and above) */

  @media only screen and (min-width: 730px) {
  .container{
     padding:24px;
    }
    }